/* =========================
   ALGEMEEN
========================= */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* =========================
    LOGIN PAGINA
 =========================*/

.covered {
    position:relative; /* make a new "render context", so absolute positioning is relative to this parent container */
}

.covered-img {
    opacity: .25;

    background-size:cover; /* cover will scale the image so that the smallest dimension = the widest dimension of the box */
    background-position: center;

    position:absolute; /* take me out of the render context! let me define my own positioning */
    top:0;bottom:0;left:0;right:0; /* this could also work with width:100%; height:100%;, but is simpler */
}

/* =========================
   HOME PAGINA
========================= */

.round-image-wrapper {
    width: 180px;
    height: 180px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
}

.round-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* =========================
   SIDEBAR / COHORT INFO
========================= */

.sidebar {
    position: sticky;
    top: 100px;
}

.sidebar-profile-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}


/* =========================
   PARTICIPANT / DEELNEMER CARDS
========================= */

.participant-card {
    position: relative;
    display: block;
    overflow: hidden
}

.participant-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.participant-image {
    width: 100%;
    height: 280px;
    object-fit: contain;
    border-radius: 12px;
}

.participant-card .participant-card {
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 5px;
    transform: translate3d(0px, 0%, 0px);
    transition: all 800ms ease 0.35s;
    padding: 10px 30px;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
    background: #ffffff;
    position: absolute
}

.participant-card .participant-overlay {
    left: 15px;
    right: 15px;
    opacity: 1;
    padding: 0 20px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    transform: translate3d(0px, -110%, 0px);
    transition: all 700ms ease 0.35s;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1)
}

.participant-card:hover .participant-overlay {
    transform: translate3d(0px, 0, 0px);
    transition-delay: 0.1s;
    background: rgba(47,191,167,0.9);
    border-radius: 5px
}

.participant-card:hover .participant-card {
    transform: translate3d(0px, 130px, 0px);
    transition-delay: 0.2s
}


/* =========================
   DETAILPAGINA PARTICIPANT
========================= */

.about-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

body{
    margin-top:20px;
    background:#f5f5f5;
}

/* =========================
   EDIT PAGINA
========================= */

.panel {
    box-shadow: none;
}
.panel-heading {
    border-bottom: 0;
}
.panel-title {
    font-size: 17px;
}
.panel-title > small {
    font-size: .75em;
    color: #999999;
}
.panel-body *:first-child {
    margin-top: 0;
}
.panel-footer {
    border-top: 0;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}

form label {
    color: #999999;
    font-weight: 400;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
}
.profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
}
.profile-avatar {
    width: 200px;
    position: relative;
    margin: 0px auto;
    margin-top: 196px;
    border: 4px solid #f3f3f3;
}