<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="baseheader(title)">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title th:replace="${title}">This is the base title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
</head>
<body>

<th:block th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home/">Overview</a>
      <div class="navbar-nav">
        <a class="nav-link"
           th:classappend="${activePage =='cohort'} ?'active' : ''"
           href="/cohort/">
          <i class="bi bi-book"></i> Cohort
        </a>
        <a class="nav-link"
           th:classappend="${activePage =='aboutMe'} ?'active' : ''"
           th:href="@{/detail/aboutme}">
          <i class="bi bi-person"></i> Over mij
        </a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()"
              style="display: inline;">
          <button class="btn btn-outline-light btn-sm" type="submit">Uitloggen</button>
        </form>
      </div>
    </div>
  </nav>
</th:block>


<footer class="footer mt-auto py-3 bg-light"
        th:fragment="footer">
  <div class="container">
    <span class="text-muted">Overview &mdash; De Exparts</span>
  </div>
</footer>

<div th:fragment="scripts">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
  </script>
</div>

</body>
</html>