<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="baseheader(title)">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title th:text="${title}">This is the base title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<th:block th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home/">Overview</a>
      <div class="navbar-nav">
        <div sec:authorize="hasRole('INSTRUCTOR')">
          <div class="dropdown">
            <button class="nav-link dropdown-toggle bi bi-book"
                    th:classappend="${activePage == 'cohort'} ? 'active' : ''"
                    type="button"
                    data-bs-toggle="dropdown" aria-expanded="false"> Cohort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                     th:href="@{/cohort/{id}(id=${currentCohortId})}">Mijn cohort(en)</a></li>
              <li><a class="dropdown-item" th:href="@{/cohort/all}">Overzicht cohorten</a></li>
            </ul>
          </div>
        </div>
        <div sec:authorize="hasRole('PARTICIPANT')">
          <a class="nav-link"
             th:classappend="${activePage =='cohort'} ?'active' : ''"
             th:href="@{/cohort/{id}(id=${currentCohortId})}">
            <i class="bi bi-book"></i> Cohort
          </a>
        </div>

        <a class="nav-link"
           th:classappend="${activePage =='aboutMe'} ?'active' : ''"
           th:href="@{/detail/aboutme}">
          <i class="bi bi-person"></i> Over mij
        </a>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()"
              style="display: inline;">
          <button class="btn btn-outline-light btn-sm logout-btn ms-4" type="submit">Uitloggen</button>
        </form>
      </div>
    </div>
  </nav>
</th:block>


<footer class="footer mt-auto py-3 bg-light"
        th:fragment="footer">
  <div class="container">
    <span class="text-muted">Overview &mdash; De Exparts</span>
  </div>
</footer>

<div th:fragment="scripts">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
  </script>
</div>

</body>
</html>