<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/general :: baseheader(${title})}"></th:block>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}" sec:authorize="isAuthenticated()"></nav>
<div class="container mt-4">
    <th:block th:replace="${content}"/>
</div>
<footer th:replace="~{fragments/general :: footer}"></footer>
<div th:replace="~{fragments/general :: scripts}"></div>
</body>
</html>