<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head(~{:: title})}">
  <meta charset="UTF-8">
  <title>Detailpagina</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>
<h1>Deelnemer: <span th:text="${participant.fullName}"></span></h1>

<img src="https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg?s=612x612&w=0&k=20&c=hnh2OZgQGhf0b46-J2z7aHbIWwq8HNlSDaNp2wn_iko="
     alt="Afbeelding"
     style="width: 175px; height: 175px;">

<p>Rol: Deelnemer</p>
<p>E-mailadres: <span th:text="${participant.emailAdress}"></span></p>
<p>Adres: <span th:text="${participant.address}"></span></p>
<p>Woonplaats: <span th:text="${participant.city}"></span></p>
<p>Telefoonnummer: <span th:text="${participant.phoneNumber}"></span></p>
<p>Over mij: <span th:text="${participant.description}"></span></p>
<p>Klassen: <a th:href="@{/overview/cohort/{id}(id=${participant.cohorts.id})}"
               th:text="${participant.cohorts.name}"></a></p>

<p>Docenten: <span th:each="instructors, iterStat: ${participant.cohorts.instructors}">
             <a th:href="@{/detail/instructor/{id}(id=${instructors.id})}"
             th:text="${instructors.fullName}"></a>
</span> </p>

<form th:action="@{/detail/participant/delete/{id}(id=${participant.id})}" method="post">
    <button type="submit">Verwijder Deelnemer</button>
</form>

<form th:action="@{/detail/participant/edit/{id}(id=${participant.id})}" method="get">
    <button type="submit">Bewerk Deelnemer</button>
</form>
</body>
</html>