<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(${title}, ~{::#content})}">
<div id="content">
    <div th:replace="~{fragments/profile-fragments :: instructorProfile(${instructor})}"></div>

    <div class="modal fade" id="deleteInstructor"
         tabindex="-1"
         aria-labelledby="deleteInstructorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="deleteInstructorModalLabel">
                         Docent Verwijderen
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Sluiten"></button>
                </div>
                <div class="modal-body">
                    Weet je zeker of deze docent verwijderen wil?
                </div>
                <div class="modal-footer">

                    <form th:action="@{/detail/instructor/delete/{id}(id=${instructor.id})}" method="post">
                        <button type="submit" class="btn btn-warning">Ja</button>
                    </form>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Nee
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</html>