<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Detailpagina</title></head>
<body>
<div id="content">
    <div th:replace="~{fragments/profile-fragments :: instructorProfile(${instructor})}"></div>

    <div class="modal fade" id="deleteInstructor"
         tabindex="-1"
         aria-labelledby="deleteInstructorModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="deleteInstructorModalLabel">
                         Docent Verwijderen
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Sluiten"></button>
                </div>
                <div class="modal-body">
                    Weet je zeker of deze docent verwijderen wil?
                </div>
                <div class="modal-footer">

                    <form th:action="@{/detail/instructor/delete/{id}(id=${instructor.id})}" method="post">
                        <button type="submit" class="btn btn-warning">Ja</button>
                    </form>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Nee
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${userType=='instructor'}" class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-5">

        <form th:action="@{/detail/instructor/edit/{id}(id=${instructor.id})}" method="get" class="m-0">
            <button type="submit" class="btn btn-outline-primary px-4 py-2">
                Bewerk docent
            </button>
        </form>

        <button type="button"
                class="btn btn-outline-danger px-4 py-2"
                data-bs-toggle="modal"
                data-bs-target="#deleteInstructor">
            Verwijder docent
        </button>

    </div>

</div>
</body>
</html>