<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: head(~{:: title})}">
  <meta charset="UTF-8">
  <title>Detailpagina</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>
<h1 th:text="${instructor.firstName} + ${instructor.lastName}"></h1>

<img src="https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg?s=612x612&w=0&k=20&c=hnh2OZgQGhf0b46-J2z7aHbIWwq8HNlSDaNp2wn_iko="
     alt="Afbeelding"
     style="width: 175px; height: 175px;">
<p th:text="${instructor.emailAdress}"></p>
<p th:text="${instructor.address}"></p>
<p th:text="${instructor.city}"></p>
<p th:text="${instructor.phoneNumber}"></p>
<p th:text="${instructor.cohort}"></p>
<p th:text="${instructor.description}"></p>
<p th:text="${instructor.course}"></p>
</body>
</html>