<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Detailpagina</title></head>
<body>
<div id="content">

    <div th:replace="~{fragments/profile-fragments :: participantProfile(${participant})}"></div>

    <div class="modal fade" id="deleteParticipant"
         tabindex="-1"
         aria-labelledby="deleteParticipantModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"
                        id="deleteParticipantModalLabel">
                        Deelnemer Verwijderen
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Sluiten"></button>
                </div>
                <div class="modal-body">
                    Weet je zeker of deze deelnemer verwijderen wil?
                </div>

                <div class="modal-footer">

                    <form th:action="@{/detail/participant/delete/{id}(id=${participant.id})}" method="post">
                        <button type="submit" class="btn btn-warning">Ja</button>
                    </form>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Nee
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>