<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Detailpagina</title></head>
<body>
<div id="content">

    <div th:replace="~{fragments/profile-fragments :: participantProfile(${participant})}"></div>

    <div class="modal fade" id="deleteParticipant"
         tabindex="-1"
         aria-labelledby="deleteParticipantModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"
                        id="deleteParticipantModalLabel">
                        Deelnemer Verwijderen
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Sluiten"></button>
                </div>
                <div class="modal-body">
                    Weet je zeker of deze deelnemer verwijderen wil?
                </div>

                <div class="modal-footer">

                    <form th:action="@{/detail/participant/delete/{id}(id=${participant.id})}" method="post">
                        <button type="submit" class="btn btn-warning">Ja</button>
                    </form>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Nee
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="hasRole('ROLE_INSTRUCTOR')" class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-5">

        <form th:action="@{/detail/participant/edit/{id}(id=${participant.id})}" method="get" class="m-0">
            <button type="submit" class="btn btn-outline-primary px-4 py-2">
                Bewerk deelnemer
            </button>
        </form>

        <form th:action="@{/detail/participant/add}" method="get" class="m-0">
            <button type="submit" class="btn btn-primary px-4 py-2">
                + Nieuwe deelnemer
            </button>
        </form>

        <button type="button"
                class="btn btn-outline-danger px-4 py-2"
                data-bs-toggle="modal"
                data-bs-target="#deleteParticipant">
            Verwijder deelnemer
        </button>
    </div>

</div>

</body>
</html>