<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head>
    <title>Overview cohort</title>
</head>
<body>

<div id="content">

    <h1 th:text="|Overview van ${cohort.name}|" class="mb-5 text-center"></h1>

    <div class="row g-5">

        <aside class="col-lg-4">
            <div class="sidebar p-4 bg-white rounded shadow-sm">

                <section class="mb-4">
                    <h3 class="h5 mb-3">Cohortinformatie</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Naam:</strong>
                            <span th:text="${cohort.name}">Naam</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Onderwerp:</strong>
                            <span th:text="${cohort.subject}">Onderwerp</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Startdatum:</strong>
                            <span th:if="${cohort.startDate}" th:text="${cohort.startDate}">Startdatum</span>
                            <span th:unless="${cohort.startDate}">onbekend</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Einddatum:</strong>
                            <span th:if="${cohort.endDate}" th:text="${cohort.endDate}">Einddatum</span>
                            <span th:unless="${cohort.endDate}">onbekend</span>
                        </li>
                    </ul>

                    <br>

                    <div class="btn-group">
                        <section sec:authorize="hasRole('INSTRUCTOR')" class="mb-4">
                            <a th:href="@{/cohort/edit/{id}(id=${cohort.id})}" class="btn btn-primary"
                               role="button">Bewerk</a>
                            <button type="button"
                                    class="btn btn-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteCohort">
                                Verwijder
                            </button>
                        </section>
                    </div>
                </section>

                <section class="mb-4">
                    <h3 class="h5 mb-3">Docenten</h3>

                    <div class="d-flex flex-column gap-3">
                        <div class="card border-0 bg-light"
                             th:each="instructor : ${cohort.instructors}">
                            <div class="card-body d-flex align-items-center gap-3">
                                <a th:href="@{/detail/instructor/{id}(id=${instructor.id})}">
                                    <img
                                            th:src="${instructor.image != null}
                                            ? @{/images/{id}(id=${instructor.image.id})}
                                            : 'https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg?s=612x612&w=0&k=20&c=hnh2OZgQGhf0b46-J2z7aHbIWwq8HNlSDaNp2wn_iko='"
                                            class="sidebar-profile-image"
                                            th:alt="|Foto van ${instructor.fullName}|"
                                    >
                                </a>

                                <div>
                                    <h4 class="h6 mb-1"
                                        th:text="|${instructor.firstName} ${instructor.lastName}|">
                                        Naam docent
                                    </h4>
                                    <a th:href="@{/detail/instructor/{id}(id=${instructor.id})}"
                                       class="text-decoration-none">
                                        Bekijk profiel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </aside>

        <main class="col-lg-8">
            <section class="mb-4">
                <h2 class="text-center mb-4">Deelnemers</h2>

                <form th:action="@{/cohort/{id}/search(id=${cohort.id})}" method="post">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" placeholder="Zoek op naam...">
                        <button type="submit" class="btn btn-primary">Zoeken</button>
                    </div>
                </form>

                <div th:if="${searchResults}" class="row g-4 mt-2">
                    <h3 class="text-center">Zoekresultaten</h3>
                    <div class="col-md-6 col-xl-4"
                         th:each="participant : ${searchResults}">
                        <div class="participant-card text-center h-100">
                            <a th:href="@{/detail/participant/{id}(id=${participant.id})}">
                                <img th:src="${participant.image != null} ? @{/images/{id}(id=${participant.image.id})}
                                : 'https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg'"
                                     class="participant-image"
                                     th:alt="|Foto van ${participant.fullName}|">
                            </a>
                            <div class="participant-card">
                                <h3 class="text-primary mb-1 h5"
                                    th:text="|${participant.firstName} ${participant.lastName}|">
                                    Naam deelnemer
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <hr th:if="${searchResults}" class="my-4">

                <div class="row g-4 mt-1">
                    <div class="col-md-6 col-xl-4"
                         th:each="participant : ${cohort.participants}">

                        <div class="participant-card text-center h-100">
                            <a th:href="@{/detail/participant/{id}(id=${participant.id})}">
                                <img
                                        th:src="${participant.image != null}
                                        ? @{/images/{id}(id=${participant.image.id})}
                                        : 'https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg?s=612x612&w=0&k=20&c=hnh2OZgQGhf0b46-J2z7aHbIWwq8HNlSDaNp2wn_iko='"
                                        class="participant-image"
                                        th:alt="|Foto van ${participant.fullName}|"
                                >
                            </a>

                            <div class="participant-card">
                                <h3 class="text-primary mb-1 h5"
                                    th:text="|${participant.firstName} ${participant.lastName}|">
                                    Naam deelnemer
                                </h3>
                                <span class="text-secondary"
                                      th:text="${participant.getEmployer()}">Toekomstige werkgever</span>
                            </div>

                            <div class="participant-overlay">
                                <div class="d-table h-100 w-100">
                                    <div class="d-table-cell align-middle">
                                        <h3 class="h5">
                                            <a th:text="|${participant.firstName} ${participant.lastName}|"
                                               th:href="@{/detail/participant/{id}(id=${participant.id})}"
                                               class="text-white text-decoration-none">
                                                Over deelnemer
                                            </a>
                                        </h3>
                                        <p class="text-white mb-0">
                                            Bekijk het profiel van deze deelnemer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
    </div>

    <div class="modal fade" id="deleteCohort"
         tabindex="-1"
         aria-labelledby="deleteCohortModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCohortModalLabel">
                        Cohort verwijderen
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Sluiten"></button>
                </div>

                <div class="modal-body">
                    Weet je zeker dat je dit cohort wilt verwijderen?
                </div>

                <div class="modal-footer">
                    <form th:action="@{/cohort/delete/{id}(id=${cohort.id})}" method="post">
                        <button type="submit" class="btn btn-warning">Ja</button>
                    </form>

                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Nee
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>