<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Home</title></head>
<body>
<div id="content">
    <h1 th:text="${participant.firstName} + ${participant.lastName}"></h1>

    <img src="https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg?s=612x612&w=0&k=20&c=hnh2OZgQGhf0b46-J2z7aHbIWwq8HNlSDaNp2wn_iko="
         alt="Afbeelding"
         style="width: 175px; height: 175px;">

    <p th:text="${participant.cohorts.name}"></p>

    <p>Ga naar:</p>
    <a th:text="${participant.cohorts.name}"
       th:href="@{/cohort/{id}(id=${participant.cohorts.id})}" >Jouw klas</a>

    <a th:href="@{/detail/participant/{id}(id=${participant.id})}">Jouw profiel</a>

    <span th:each="instructors, iterStat: ${participant.cohorts.instructors}">
                 <a th:href="@{/detail/instructor/{id}(id=${instructors.id})}"
                    th:text="${instructors.fullName}"></a>
    </span>

    <form th:action="@{/detail/participant/add}" method="get">
        <button type="submit">Maak Nieuwe Deelnemer Aan</button>
    </form>

    <form th:action="@{/detail/instructor/add}" method="get">
        <button type="submit">Maak Nieuwe Docent Aan</button>
    </form>
</div>
</body>
</html>