<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Home</title></head>
<body>
<div id="content">
    <h1 th:text="${user.firstName} + ${user.lastName}"></h1>

    <img src="https://media.istockphoto.com/id/1396814518/vector/image-coming-soon-no-photo-no-thumbnail-image-available-vector-illustration.jpg?s=612x612&w=0&k=20&c=hnh2OZgQGhf0b46-J2z7aHbIWwq8HNlSDaNp2wn_iko="
         alt="Afbeelding"
         style="width: 175px; height: 175px;">

    <form th:action="@{/detail/participant/add}" method="get">
        <button type="submit">Maak Nieuwe Deelnemer Aan</button>
    </form>

    <form th:action="@{/detail/instructor/add}" method="get">
        <button type="submit">Maak Nieuwe Docent Aan</button>
    </form>
</div>
</body>
</html>