<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(${title}, ~{::#content})}">

<div id="content" class="container">
    <div class="covered-img" style="background-image: url('/assets/images/ClassroomBlurredStock.jpeg')"></div>
    <div class="container col-xl-10 col-xxl-8">
        <div class="row align-items-center">
            <div class="col-lg-7">

                <h1 class="fw-bold">Welkom bij Overview</h1>
                <p>Log meteen in om te zien met wie jij in de klas zit!</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
                    <div class="card p-4 shadow" style="width: 300px;">

                        <h2 class="text-center mb-3">Inloggen</h2>

                        <div th:if="${param.error}" class="alert alert-danger">
                            Gebruikersnaam of wachtwoord klopt niet
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            Je bent uitgelogd
                        </div>

                        <form th:action="@{/login}" method="post">

                            <div class="mb-2">
                                <input class="form-control" type="text" name="username" placeholder="Gebruikersnaam" required>
                            </div>

                            <div class="mb-3">
                                <input class="form-control" type="password" name="password" placeholder="Wachtwoord" required>
                            </div>

                            <button class="btn btn-primary w-100" type="submit">
                                Log in
                            </button>

                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</html>