<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::#content})}">
<head><title>Overview</title></head>
<body>

<div id="content">
    <h1>Cohorts</h1>
    <table>
        <thead>
        <tr>
            <th>Cohort</th>
            <th>Onderwerp</th>
            <th>Startdatum</th>
            <th>Einddatum</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cohort : ${allCohorts}">
            <td>
                <a th:href="@{/overview/cohort/{id}(id=${cohort.id})}" th:text="${cohort.getName()}">Cohort</a>
            </td>

            <td th:text="${cohort.getSubject()}">Onderwerp</td>
            <td>
                <span th:if="${cohort.getStartDate()}" th:text="${cohort.getStartDate()}">Startdatum</span>
                <span th:unless="${cohort.getStartDate()}">onbekend</span>
            </td>
            <td>
                <span th:if="${cohort.getEndDate()}" th:text="${cohort.getEndDate()}">Einddatum</span>
                <span th:unless="${cohort.getEndDate()}">onbekend</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>